.calRoot {
	--background-color: white;
	--inverse-text-color: ghostwhite;
	--text-color: black;
}

.frhdTable {
	border-collapse: separate;
	border-spacing: 0 0.5em;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: clamp(12px, 1vw, 14px);
}

.frhdTable thead {
	--text-color: ghostwhite;
	backdrop-filter: brightness(0.2);
	border-radius: 0.25em;
	/* box-shadow: 0 0 0 1px var(--text-color); */
	color: var(--text-color);
	overflow: hidden;
	text-transform: capitalize;
}

.frhdTable.rowCounter thead tr::before {
	content: "";
}

.frhdTable thead tr th {
	text-align: left;
	padding: 0.5em;
	user-select: none;
}

.frhdTable :is(.sort th, th.sort):hover {
	cursor: pointer;
}

:is(.sort th, th.sort)::after {
	content: "";
	width: 12px;
	height: 12px;
	float: right;
	margin: 2px;
	margin-left: 16px;
	display: block;
	background-color: var(--text-color);
	clip-path: polygon(
		10% 40%,
		90% 40%,
		50% 0,
		10% 40%,
		10% 60%,
		90% 60%,
		50% 100%,
		10% 60%
	);
}

:is(.sort th, th.sort).asc:after {
	clip-path: polygon(
		10% 70%,
		90% 70%,
		50% 30%,
		10% 70%
	);
}

:is(.sort th, th.sort).desc:after {
	clip-path: polygon(
		10% 30%,
		90% 30%,
		50% 70%,
		10% 30%
	);
}

.frhdTable.ghosters tbody {
	text-transform: capitalize;
}

.frhdTable.rowCounter tbody tr {
	counter-increment: row;
}

.frhdTable.rowCounter tbody tr::before {
	content: counter(row) ".";
	display: block;
	padding: 0.5em 0;
	padding-left: 1em;
	transition: padding 180ms ease-in-out;
}

.frhdTable tbody tr {
	backdrop-filter: brightness(0.975);
	border-radius: 0.25em;
	box-shadow: 0 0 1px 0px;
	position: relative;
}

.frhdTable.podium {
	margin: auto;
	width: 25vw;
}

.frhdTable.podium tbody tr:nth-child(1) {
	backdrop-filter: contrast(0.5) brightness(0.975) sepia(1) hue-rotate(10deg);
}

.frhdTable.podium tbody tr:nth-child(2) {
	backdrop-filter: contrast(0.75) brightness(0.975);
}

.frhdTable.podium tbody tr:nth-child(3) {
	backdrop-filter: contrast(0.4) brightness(0.975) sepia(1) hue-rotate(6deg);
}

/* .frhdTable.podium tbody tr:nth-child(1):hover {
	box-shadow: 0 0 1px 1px hsl(41, 81%, 52%);
}

.frhdTable.podium tbody tr:nth-child(2):hover {
	box-shadow: 0 0 1px 1px silver;
}

.frhdTable.podium tbody tr:nth-child(3):hover {
	box-shadow: 0 0 1px 1px sandybrown;
} */

.frhdTable tbody tr:hover {
	backdrop-filter: brightness(0.95);
}

.frhdTable tbody tr:hover::before,
.frhdTable tbody tr:hover td {
	padding-bottom: clamp(0.5rem, 0.85em, 0.75rem);
	padding-top: clamp(0.5rem, 0.85em, 0.75rem);
}

.frhdTable tbody tr td {
	padding: 0.5em;
	transition: padding 180ms ease-in-out;
}

.frhdTable tbody tr td > a {
	color: black;
	text-decoration: none;
}

.frhdTable tbody tr td:first-child {
	padding-right: 2em;
}

.frhdTable .raceLink {
	color: black;
	display: block;
	text-decoration: none;
	width: fit-content;
}

.divider {
	border-bottom: 1px solid hsl(0deg 0% 50% / 0.5);
	margin: 1.5em 0;
}

.frhdGrid {
	display: grid;
	gap: 0.5em;
}

.frhdGrid.autoColumns {
	align-items: baseline;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.frhdGrid.autoColumns > * {
	padding: 1px;
}

.frhdDialog {
	min-width: 40vmin;
}

.frhdDialog > table {
	width: 100%;
	width: -webkit-fill-available;
}