.calRoot {
	--background-color: white;
	--inverse-text-color: ghostwhite;
	--text-color: black;
}

.featuredGhostersTable, .featuredGhostsTable {
	border-collapse: separate;
	border-spacing: 0 0.4rem;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: smaller;
}

:is(.featuredGhostersTable, .featuredGhostsTable) thead {
	--text-color: ghostwhite;
	backdrop-filter: brightness(0.2);
	border-radius: 0.25em;
	/* box-shadow: 0 0 0 1px var(--text-color); */
	color: var(--text-color);
	overflow: hidden;
	text-transform: capitalize;
}

:is(.featuredGhostersTable, .featuredGhostsTable) thead tr::before {
	content: "";
}

:is(.featuredGhostersTable, .featuredGhostsTable) thead tr th {
	text-align: left;
	/* padding-right: 16px; */
	padding: 0.5rem;
	padding-left: 0;
	user-select: none;
}

:is(.featuredGhostersTable, .featuredGhostsTable) :is(.sort th, th.sort):hover {
	cursor: pointer;
}

:is(.sort th, th.sort)::after {
	content: "";
	width: 12px;
	height: 12px;
	float: right;
	margin: 2px;
	margin-left: 16px;
	display: block;
	background-color: var(--text-color);
	clip-path: polygon(
		10% 40%,
		90% 40%,
		50% 0,
		10% 40%,
		10% 60%,
		90% 60%,
		50% 100%,
		10% 60%
	);
}

:is(.sort th, th.sort).asc:after {
	clip-path: polygon(
		10% 70%,
		90% 70%,
		50% 30%,
		10% 70%
	);
}

:is(.sort th, th.sort).desc:after {
	clip-path: polygon(
		10% 30%,
		90% 30%,
		50% 70%,
		10% 30%
	);
}

.featuredGhostersTable tbody {
	text-transform: capitalize;
}

:is(.featuredGhostersTable, .featuredGhostsTable) tbody tr {
	backdrop-filter: brightness(0.975);
	border-radius: 0.25em;
	box-shadow: 0 0 1px 0px;
	counter-increment: line;
	position: relative;
}

:is(.featuredGhostersTable, .featuredGhostsTable) tbody tr:hover {
	backdrop-filter: brightness(0.95);
}

:is(.featuredGhostersTable, .featuredGhostsTable) tbody tr::before {
	content: counter(line) ".";
	display: block;
	padding: 0.5rem;
	padding-left: 1rem;
	transition: padding 180ms ease-in-out;
}

:is(.featuredGhostersTable, .featuredGhostsTable) tbody tr:hover::before {
	padding-bottom: 0.75rem;
	padding-top: 0.75rem;
}

:is(.featuredGhostersTable, .featuredGhostsTable) tbody tr td > a {
	color: black;
	text-decoration: none;
}

:is(.featuredGhostersTable, .featuredGhostsTable) tbody tr td:first-child {
	padding-right: 2rem;
}

/* :is(.featuredGhostersTable, .featuredGhostsTable) tbody tr td:not(:first-child) {
	text-align: center;
} */

:is(.featuredGhostersTable, .featuredGhostsTable) .raceLink {
	color: black;
	display: block;
	text-decoration: none;
	width: fit-content;
}
